body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
.style {
  color: orange;
}
img {
  float: right;
  height: 550px;
  width: 450px;
}
section{
  display: flex;

}
.half-width{
  width: 50%;
}
