body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
h1 {
  font-size: 50px;
}
.style {
  color: orange;
}
.flexible-container{
  display: flex;
  margin-bottom: 150px ;
}

.half-width{
  width: 50%;
  padding: 5%;
  
}
.half-width img{
  width: 100%;
}

.link-button{
background-image: linear-gradient(#c33764 , #1d2671);
text-decoration: none;
padding: 10px 30px;
border-radius: 10px;
font-weight: 700;
color: whitesmoke;
}
p{
  text-align: justify;
  color: #696969;
}
.border-top{
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;

}
.border-mid{
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.anchor-button{
    background-image: linear-gradient(#ffd89b , #19547b);
    text-decoration: none;
    padding: 10px 30px;
   border-radius: 10px;
   font-weight: 700;
   color: whitesmoke;
  }
  h2{
    font-size: 30px;
  }
  .experience-area h3{
    color: orange;
  }
  .experience-item{
  box-shadow: 10px 10px 40px  red ;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
  border-radius: 2%;
  }
  .experience-area{
    background-image: url("images/exp-bg.png");
    background-position: left;
    background-repeat: no-repeat;
  }
  #full-stack{
    border-image: linear-gradient(purple,  tomato);
    border-left: 8px solid;
    border-image-slice: 1;
  }
  #baby-web{
    border-image: linear-gradient(blue, cyan);
    border-left: 8px solid;
    border-image-slice: 1;
  }
  .bottom-part{
    text-align: center;
  }
  